# Supabase Configuration
VITE_SUPABASE_URL=https://szfoxvvqqtfzbwuacgck.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN6Zm94dnZxcXRmemJ3YnVhY2drIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkwOTQ1MjYsImV4cCI6MjA4NDY3MDUyNn0.HOb0Qn3I0QisisyHGGN-koR4Ac6tL9pPVz4jxNKEFRk
VITE_SUPABASE_SECRET_KEY=

# Environment
VITE_ENV=development

# Notifications (Optional)
VITE_EMAIL_WEBHOOK_URL=
VITE_WEBHOOK_URL=
VITE_EMAIL_USER_ID=